.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
.about-background {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--light-color);
  height: 50rem;
  width: 90%;
  animation: revealer linear forwards;
  animation-timeline: view();
  animation-range-start: cover 40vh;
  animation-range-end: cover 85vh;
}

.about-n-image {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.image-container {
  /* background-color: red; */
  overflow: hidden;
  height: 27rem;
  width: 20rem;
  display: flex;
  justify-content: center;
  margin-left: 1rem;
  margin-right: 1rem;
  border: 1px solid black;
  padding: 0.5rem;
}

/* .image-container img { */
/* width: 70%; */
/* } */

.about-text-container {
  width: 50rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  font-weight: 200;
  font-size: 2rem;
}

.about-name {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  font-weight: 200;
  font-size: 2rem;
}

.location,
.work {
  font-size: 1.5rem;
}

.work-container {
  width: 20rem;
  display: flex;
  align-items: center;
  justify-content: end;
  /* gap: 0.5rem; */
}

.dot-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
}

.about-dot {
  background-color: yellowgreen;
  height: 0.9rem;
  width: 0.9rem;
  border-radius: 100%;
  opacity: 20%;
  position: relative;
  animation: dot-radar 1s ease-in-out infinite;
}

.about-dot-two {
  background-color: yellowgreen;
  height: 0.9rem;
  width: 0.9rem;
  border-radius: 100%;
  position: absolute;
}

.about-text {
  display: flex;
  font-weight: 200;

  width: 100%;
  margin-bottom: 1rem;
  margin-left: 1.5rem;
}

.about-text > * {
  display: flex;

  max-width: 5rem;
  min-width: 5rem;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--light-color);
}

@keyframes revealer {
  100% {
    width: 100%;
    /* color: blueviolet; */
    /* transform: scale(3); */
  }
}

@keyframes dot-radar {
  to {
    transform: scale(2);
  }
}
