.cursor {
  position: fixed;
  color: var(--light-color);
  font-size: 3rem;
  transition: 0.1s;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 7;
  mix-blend-mode: difference;
}
