.home-section {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin-top: 4rem;
}

.home-text-container {
  font-weight: 200;

  flex-direction: column;
  align-items: end;
  display: flex;
  margin-top: 9rem;
}

.frontend-text,
.developer-text,
.design-text {
  display: flex;
}

.frontend-text {
  margin-right: 36.2rem;
}

.design-text {
  margin-right: 9.4rem;
}

.developer-text {
  margin-right: 0.5rem;
}

.frontend-text > *,
.developer-text > *,
.design-text > * {
  border: 1px solid var(--light-color);
  max-width: 8.8rem;
  min-width: 8.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-text {
  width: 50%;
}

.name-container {
  display: flex;
  justify-content: end;
}

.home-name {
  width: 50%;
}

.hovered:hover {
  font-weight: 400;
  transform: rotate(0.5turn);

  transition: font-weight transform 0.3s ease;
}

.hovered-easter {
  font-size: 3rem;
}

.hovered-easter:hover {
  color: var(--light-color);
}
