* {
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--bg-color);
  /* min-height: 400vh; */
  overflow-x: hidden;
}

:root {
  --playfair-font: "Playfair Display", serif;
  --inter-font: "Inter", sans-serif;

  --h1-size: 9rem;
  --h2-size: 5rem;
  --h3-size: 3rem;

  --bg-color: #0e161b;
  /* --contrast-color: #d4c32f; */
  /* --contrast-color: #d8919b; */
  --contrast-color: #ffebcd;

  --light-color: #f6fbf8;
}

.h1 {
  font-size: var(--h1-size);
}

.h2 {
  font-size: var(--h2-size);
}

.h3 {
  font-size: var(--h3-size);
}

.pink {
  color: var(--contrast-color);
}

.light {
  color: var(--light-color);
}

.bg-color {
  color: var(--bg-color);
}

.inter {
  font-family: var(--inter-font);
}

.playfair {
  font-family: var(--playfair-font);
}

.caps {
  text-transform: uppercase;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.align-center {
  align-items: center;
}
