.scroll-container {
  display: flex;
  overflow-x: hidden;
}

.scroll-container ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: scroll 40s linear infinite;
}

.scroll-container ul li {
  margin: 0rem 0.5rem;
  font-weight: 200;
  letter-spacing: 1.5rem;
}

.dot {
  max-width: 1.5rem;
  max-height: 1.5rem;
  min-width: 1.5rem;
  min-height: 1.5rem;
  background-color: var(--contrast-color);
  color: var(--contrast-color);
  border-radius: 100%;
}

.scroll-cross {
  color: var(--contrast-color);
}

@keyframes my-animation {
  from {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(0rem);
  }
  to {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(100rem);
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
